{% extends "partials/base.html" %}


{% block extra_css %}


{% endblock %}

{% block content %}
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Marka, Model ve Kategori Ekleme Sayfası</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">


{% csrf_token %}
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Marka Ekle</h2>
        </div>

        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
            novalidate="novalidate">
            <div class="row">



<div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="brand" id="brand" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Marka Giriniz'" placeholder='Marka'>
                </div>
              </div>
            </div>


            <div class="form-group mt-3">
              <a  onclick="addBrand()" class="btn_3 button-contactForm">Ekle</a>
            </div>
          </form>
        </div>
  <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Model Ekle</h2>
        </div>

        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm1"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                       <select class="form-select" aria-label="Default select example" id="brand_list">

</select>


                </div>
              </div>

<div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="model" id="model" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Model Giriniz'" placeholder='Model'>
                </div>
              </div>
            </div>

            <div class="form-group mt-3">
              <a  onclick="addModel()" class="btn_3 button-contactForm">Ekle</a>
            </div>
          </form>
        </div>
         <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Kategori Ekle</h2>
        </div>

        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm2"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">

              </div>

              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="weight" id="category" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Kategori Giriniz'" placeholder='Kategori'>
                </div>
              </div>
            </div>

            <div class="form-group mt-3">
              <a  onclick="addCategory()" class="btn_3 button-contactForm">Ekle</a>
            </div>
          </form>
        </div>
      </div>
    </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function addBrand() {
        var brand = document.getElementById('brand')
        const formData = new FormData()
        if (brand.value) {
            formData.append('name',brand.value)
        await fetch('http://127.0.0.1:8000/api/brand/',{
            method:'POST',
             headers:{

          'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value
        },
            body:formData

        }).then(data=>data.status==201?Swal.fire({
  icon: 'success',
  title: 'Eklendi',
  text: 'Marka ekleme başarılı!',
}):Swal.fire({
  icon: 'error',
  title: 'Hata',
  text: 'Marka ekleme hatası!',
}))
    }
        else{
            Swal.fire({
  icon: 'error',
  title: 'tüm alanlar doldurulmalıdır',
  text: 'Alan boş geçilemez!',
})
        }
    }
function getBrand() {
    var brand_list=document.getElementById('brand_list')

    fetch('http://127.0.0.1:8000/api/brand/', {
        method: 'get',
    })
    .then(data => data.json())
    .then(data => {
        for(var i of data){
            brand_list.innerHTML+=`
           <p><a onclick="filterByBrand('${i.name}')">${i.name}</a></p>`
            var newOption=document.createElement('option');
            newOption.value=i.id
            newOption.text=i.name
            newOption.selected=true
            brand_list.appendChild(newOption)
        }
    })
}
getBrand()
     async function addModel() {
        var brand = document.getElementById('brand_list')
         var model=document.getElementById('model')
        const formData = new FormData()
        if (brand.value) {
            formData.append('brand',brand.value)
            formData.append('name',model.value)
        await fetch('http://127.0.0.1:8000/api/model/',{
            method:'POST',
             headers:{

          'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value
        },
            body:formData

        }).then(data=>data.status==201?Swal.fire({
  icon: 'success',
  title: 'Eklendi',
  text: 'Model ekleme başarılı!',
}):Swal.fire({
  icon: 'error',
  title: 'Hata',
  text: 'Model ekleme hatası!',
}))
    }
        else{
            Swal.fire({
  icon: 'error',
  title: 'tüm alanlar doldurulmalıdır',
  text: 'Alan boş geçilemez!',
})
        }
    }
     async function addCategory() {
        var category = document.getElementById('category')
        const formData = new FormData()
        if (category.value) {
            formData.append('name',category.value)
        await fetch('http://127.0.0.1:8000/api/category/',{
            method:'POST',
             headers:{

          'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value
        },
            body:formData

        }).then(data=>data.status==201?Swal.fire({
  icon: 'success',
  title: 'Eklendi',
  text: 'Kategori ekleme başarılı!',
}):Swal.fire({
  icon: 'error',
  title: 'Hata',
  text: 'Kategori ekleme hatası!',
}))
    }
        else{
            Swal.fire({
  icon: 'error',
  title: 'tüm alanlar doldurulmalıdır',
  text: 'Alan boş geçilemez!',
})
        }
    }
</script>
{% endblock %}


