{% extends "partials/base.html" %}


{% block extra_css %}


{% endblock %}

{% block content %}
{%csrf_token %}
  <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Ürün Güncelleme Sayfası</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">

                <section class="contact-section section_padding">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">IHA Güncelle</h2>
        </div>

        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                       <select class="form-select" aria-label="Default select example" id="category_data">

</select>


                </div>
              </div>
                 <div class="col-sm-6">
                 <select class="form-select" aria-label="Default select example" onchange="changeModelData(this)" id="brand_data">
</select>
              </div>
              <div class="col-sm-6">
                 <select class="form-select" aria-label="Default select example" id="model_data">

</select>
              </div>
 <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="weight" id="price" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Fiyat Giriniz'" value="{{iha.price}}" placeholder='Fiyat'>
                </div>
              </div>
            </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="weight" id="weight" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Ağırlık Giriniz'" value="{{iha.weight}}" placeholder='Ağırlık'>
                </div>
              </div>
            </div>
              <div class="mb-3">
  <label for="formFile" class="form-label">{{iha.img}}</label>
                  <img src="{{iha.img.url}}" alt="#" class="img-fluid">
  <input required class="form-control"  type="file" id="formFile">
</div>
            <div class="form-group mt-3">
              <a  onclick="updateIha()" class="btn_3 button-contactForm">Güncelle</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
var row=document.getElementById('pr_list')
var category_document=document.getElementById('category_list')
var brand_document=document.getElementById('brand_list')
var search_key=document.getElementById('search_input')
var brand_data=document.getElementById('brand_data')
var model_data=document.getElementById('model_data')
var category_data=document.getElementById('category_data')

async function updateIha(){
    var file=document.getElementById('formFile')
    var weight=document.getElementById('weight')
    var price=document.getElementById('price')
    const formData = new FormData();
    if(file.files[0]){
        formData.append("img",file.files[0])
    }
    formData.append("weight",(weight.value))
    formData.append("price",(price.value))
    if(brand_data.value){
        formData.append("brand",parseInt(brand_data.value))
    }
    if(model_data.value){
        formData.append("model",parseInt(model_data.value))
    }
    if(category_data.value){
        formData.append("category",parseInt(category_data.value))
    }



    await fetch(`http://127.0.0.1:8000/api/iha/{{iha.id}}/`,{
        method:'PUT',
        headers:{

          'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value
        },
        body:formData

    })
}





function getCategory() {

    fetch('http://127.0.0.1:8000/api/category/', {
        method: 'get',
    })
    .then(data => data.json())
    .then(data => {
        for(var i of data){

            var newOption=document.createElement('option');
            newOption.value=i.id
            newOption.text=i.name
            if(newOption.text=='{{iha.category.name}}') {
                newOption.selected=true
            }
            category_data.appendChild(newOption)
        }
    })
}


function getBrand() {

    fetch('http://127.0.0.1:8000/api/brand/', {
        method: 'get',
    })
    .then(data => data.json())
    .then(data => {
        for(var i of data){

            var newOption=document.createElement('option');
            newOption.value=i.id
            newOption.text=i.name
            if(newOption.text=='{{iha.brand.name}}')
            {
                newOption.selected=true
            }
            brand_data.appendChild(newOption)
        }
    })
}
function changeModelData(id){
    model_data.innerHTML=""
        fetch(`http://127.0.0.1:8000/api/model?brand=${id.value}`, {
        method: 'get',
    })
    .then(data => data.json())
    .then(data => {
        for(var i of data){
            var newOption=document.createElement('option');
            newOption.value=i.id
            newOption.text=i.name
            if((newOption.text=='{{iha.model.name}}') || (data.length==1)) {
                newOption.selected=true
            }
            model_data.appendChild(newOption)
        }
    })
}
getBrand();
getCategory()

    </script>
{% endblock %}


